@{
	Layout = "_AdminLayout";
}

@model ITM_College.Models.DashboardData;
<div class="content-body">
	@if (ViewBag.message != null)
	{

		<div class="alert alert-success solid alert-right-icon alert-dismissible fade show">
			<span><i class="mdi mdi-check"></i></span>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close">
			</button> @ViewBag.message
		</div>
	}

	@if (ViewBag.error != null)
	{
		<div class="alert alert-danger solid alert-right-icon alert-dismissible fade show">
			<span><i class="mdi mdi-alert"></i></span>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close">
			</button>
			<strong>@ViewBag.error</strong>
		</div>
	}
	<!-- row -->
	<div class="container-fluid">

		<div class="row">
			<div class="col-xl-12 col-xxl-12 col-sm-12">
				<div class="row">
					<div class="col-xl-6 col-xxl-6 col-sm-6">
						<div class="widget-stat card">
							<div class="card-body">
								<h4 class="card-title">Total Students</h4>
								<h3 class="fw-bold">@Model.StudentsCount</h3>
								<div class="progress mb-2">
									<div class="progress-bar progress-animated bg-primary" style="width: 100%"></div>
								</div>
							
							</div>
						</div>
					</div>
					<div class="col-xl-6 col-xxl-6 col-sm-6">
						<div class="widget-stat card">
							<div class="card-body">
								<h4 class="card-title">Total Faculties</h4>
								<h3 class="fw-bold">@Model.FacultiesCount</h3>
								<div class="progress mb-2">
									<div class="progress-bar progress-animated bg-danger" style="width: 100%"></div>
								</div>
								
							</div>
						</div>
					</div>
					<div class="col-xl-6 col-xxl-6 col-sm-6">
						<div class="widget-stat card">
							<div class="card-body">
								<h4 class="card-title">Total Course</h4>
								<h3 class="fw-bold">@Model.CoursesCount</h3>
								<div class="progress mb-2">
									<div class="progress-bar progress-animated bg-red" style="width: 100%"></div>
								</div>
			
							</div>
						</div>
					</div>
					<div class="col-xl-6 col-xxl-6 col-sm-6">
						<div class="widget-stat card">
							<div class="card-body">
								<h4 class="card-title">Total Departments</h4>
								<h3 class="fw-bold">@Model.DepartmentsCount</h3>
								<div class="progress mb-2">
									<div class="progress-bar progress-animated bg-success" style="width: 100%"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Faculty List</h4>
					</div>
					@if(Model.Faculties.Any()){
					<div class="card-body dz-scroll" >

						@foreach (var temp in Model.Faculties)
						{
							
						
						<div class="media mb-3 align-items-center border-bottom pb-3">
							<a asp-controller="Admin" asp-action="FacultyDetail" asp-route-id="@temp.FacultyId"> <img class="me-3 rounded-circle" alt="image" width="50" src="~/@temp.FacultyImg"></a>
							<div class="media-body">
								<h5 class="mb-0 text-pale-sky"><a asp-controller="Admin" asp-action="FacultyDetail" asp-route-id="@temp.FacultyId">@temp.FacultyName</a></h5>
								<small class="text-primary mb-0"><a asp-controller="Admin" asp-action="FacultyDetail" asp-route-id="@temp.FacultyId">@temp.FacultyDepartmentNavigation.DepartmentName</a></small>
							</div>
						</div>
						}


					</div>
					<div class="card-footer border-0 pt-2">
						<div class="text-center">
							<a asp-controller="Admin" asp-action="Faculty" class="btn btn-primary">View All</a>
						</div>
					</div>
					}
					else
					{
					// Model is empty or null
						<h4 class="ms-3 p-4">No Faculty Found</h4>
					}
				</div>
			</div>




			<div class="col-xl-8 col-lg-8 col-xxl-8 col-md-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Student Request</h4>
					</div>
					<div class="card-body">
						@if(Model.newStd.Any()){
						<div class="table-responsive recentOrderTable text-nowrap">
							<table class="table table-hover table-responsive-md">
								<thead>

									<tr>
										<th scope="col">Student Name</th>
										<th scope="col">Email</th>
										<th scope="col">Course</th>
										<th scope="col">Status</th>
										<th scope="col" class="text-center">Actions</th>
									</tr>


								</thead>
								<tbody>

									 @foreach (var item in Model.newStd)
									{

									
									<tr>
												<td><a asp-controller="Admin" asp-action="StudentDetail" asp-route-id="@item.StudentId">@item.StudentName</a></td>
											<td><a asp-controller="Admin" asp-action="StudentDetail" asp-route-id="@item.StudentId">@item.Student.StudentEmail</a></td>
										    <td><a asp-controller="Admin" asp-action="StudentDetail" asp-route-id="@item.StudentId">@item.AddmissionForNavigation.CourseName</a></td>
											<td>@if(item.Status == 1)
												{
												<a asp-controller="Admin" asp-action="StudentDetail" asp-route-id="@item.StudentId">
													<span class="badge badge-rounded badge-warning">Pending</span>
                                                </a>
												}
											</td>
										<td>
												<a asp-controller="Admin" asp-action="ApproveStudent" asp-route-id="@item.Id" 
												class="btn btn-primary btn-sm">Approve</a>

												<a asp-controller="Admin" asp-action="RejectStudent" asp-route-id="@item.Id" 
												class="btn btn-danger btn-sm">Reject</a>
										</td>
									</tr>

									} 

								</tbody>
							</table>
						</div>
						}
						else
						{
						// Model is empty or null
							<h4 class="ms-3 p-2">No Request Found</h4>
						}
					</div>
				</div>
			</div>

@* 
			<div class="col-lg-4 col-md-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Gold medal</h4>
						<small class="text-success"><i class="fa fa-caret-up"></i> 20% High then last mont</small>
					</div>
					<div class="card-body pb-0">
						<div class="row mt-2">
							<div class="col">
								<h6 class="font-weight-normal">Overall Growth</h6>
								<strong>82.24%</strong>
							</div>
							<div class="col">
								<h6 class="font-weight-normal">Montly</h6>
								<strong>12.24 %</strong>
							</div>
							<div class="col">
								<h6 class="font-weight-normal">Day</h6>
								<strong>42.24%</strong>
							</div>
						</div>
					</div>
					<div class="chart-wrapper">
						<span class="peity-line" data-width="100%">6,5,8,4,3,8,4,3,6,5,9,5,8,3,4,8,9,8,5,7</span>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-xxl-4 col-md-6">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Silver medal</h4>
						<small class="text-success"><i class="fa fa-caret-up"></i> 20% High then last mont</small>
					</div>
					<div class="card-body pb-0">
						<div class="row mt-2">
							<div class="col">
								<h6 class="font-weight-normal">Overall Growth</h6>
								<strong>82.24%</strong>
							</div>
							<div class="col">
								<h6 class="font-weight-normal">Montly</h6>
								<strong>12.24 %</strong>
							</div>
							<div class="col">
								<h6 class="font-weight-normal">Day</h6>
								<strong>42.24%</strong>
							</div>
						</div>
					</div>
					<div class="chart-wrapper">
						<span class="peity-line-2" data-width="100%">9,3,7,8,6,7,3,3,7,4,6,8,3,4,7,3,4,7,8,5</span>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-lg-4 col-xxl-4 col-md-6">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Bronze medal</h4>
						<small class="text-success"><i class="fa fa-caret-up"></i> 20% High then last mont</small>
					</div>
					<div class="card-body pb-0">
						<div class="row mt-2">
							<div class="col">
								<h6 class="font-weight-normal">Overall Growth</h6>
								<strong>82.24%</strong>
							</div>
							<div class="col">
								<h6 class="font-weight-normal">Montly</h6>
								<strong>12.24 %</strong>
							</div>
							<div class="col">
								<h6 class="font-weight-normal">Day</h6>
								<strong>42.24%</strong>
							</div>
						</div>
					</div>
					<div class="chart-wrapper">
						<span class="peity-line-3" data-width="100%">3,8,3,7,8,6,3,4,7,3,7,9,6,3,7,6,7,3,4,2</span>
					</div>
				</div>
			</div> *@
		@* 	<div class="col-xl-12 col-lg-12 col-xxl-12 col-md-12">
				<div class="card profile-tab">
					<div class="card-header">
						<h4 class="card-title">Salary Status</h4>
					</div>
					<div class="card-body custom-tab-1">
						<ul class="nav nav-tabs mb-3">
							<li class="nav-item"><a href="#my-posts" data-bs-toggle="tab" class="nav-link pb-2 active show">Professors</a></li>
							<li class="nav-item"><a href="#about-me" data-bs-toggle="tab" class="nav-link pb-2">Librarian</a></li>
							<li class="nav-item"><a href="#profile-settings" data-bs-toggle="tab" class="nav-link pb-2">Other</a></li>
						</ul>
						<div class="tab-content">
							<div id="my-posts" class="tab-pane fade active show">
								<div class="table-responsive">
									<table class="table table-responsive-md text-nowrap">
										<thead>
											<tr>
												<th scope="col">S.No.</th>
												<th scope="col">Name</th>
												<th scope="col">Status</th>
												<th scope="col">Date</th>
												<th scope="col">Amount</th>
												<th scope="col">Transaction ID</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><img src="images/profile/education/pic1.jpg" class="rounded-circle" width="35" alt=""></td>
												<td>Angelica Ramos</td>
												<td><span class="badge badge-rounded badge-success">Paid</span></td>
												<td>12 August 2021</td>
												<td>$100</td>
												<td>#42317</td>
											</tr>
											<tr>
												<td><img src="images/profile/education/pic2.jpg" class="rounded-circle" width="35" alt=""></td>
												<td>Bradley Greer</td>
												<td><span class="badge badge-rounded badge-danger">Unpaid</span></td>
												<td>11 July 2021</td>
												<td>$200</td>
												<td>#54682</td>
											</tr>
											<tr>
												<td><img src="images/profile/education/pic3.jpg" class="rounded-circle" width="35" alt=""></td>
												<td>Cedric Kelly</td>
												<td><span class="badge badge-rounded badge-warning">Pending</span></td>
												<td>10 May 2021</td>
												<td>$400</td>
												<td>#57894</td>
											</tr>
											<tr>
												<td><img src="images/profile/education/pic4.jpg" class="rounded-circle" width="35" alt=""></td>
												<td>Caesar Vance</td>
												<td><span class="badge badge-rounded badge-danger">Unpaid</span></td>
												<td>09 April 2021</td>
												<td>$300</td>
												<td>#57864</td>
											</tr>
											<tr>
												<td><img src="images/profile/education/pic5.jpg" class="rounded-circle" width="35" alt=""></td>
												<td>Rhona Davidson</td>
												<td><span class="badge badge-rounded badge-warning">Pending</span></td>
												<td>08 March 2021</td>
												<td>$500</td>
												<td>#56387</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div id="about-me" class="tab-pane fade">
								<div class="table-responsive">
									<table class="table table-responsive-md text-nowrap">
										<thead>
											<tr>
												<th scope="col">S.No.</th>
												<th scope="col">Name</th>
												<th scope="col">Status</th>
												<th scope="col">Date</th>
												<th scope="col">Amount</th>
												<th scope="col">Transaction ID</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><img src="images/profile/education/pic6.jpg" class="rounded-circle" width="35" alt=""></td>
												<td>Angelica Ramos</td>
												<td><span class="badge badge-rounded badge-success">Paid</span></td>
												<td>12 August 2021</td>
												<td>$100</td>
												<td>#42317</td>
											</tr>
											<tr>
												<td><img src="images/profile/education/pic7.jpg" class="rounded-circle" width="35" alt=""></td>
												<td>Bradley Greer</td>
												<td><span class="badge badge-rounded badge-danger">Unpaid</span></td>
												<td>11 July 2021</td>
												<td>$200</td>
												<td>#54682</td>
											</tr>
											<tr>
												<td><img src="images/profile/education/pic8.jpg" class="rounded-circle" width="35" alt=""></td>
												<td>Cedric Kelly</td>
												<td><span class="badge badge-rounded badge-warning">Pending</span></td>
												<td>10 May 2021</td>
												<td>$400</td>
												<td>#57894</td>
											</tr>
											<tr>
												<td><img src="images/profile/education/pic10.jpg" class="rounded-circle" width="35" alt=""></td>
												<td>Caesar Vance</td>
												<td><span class="badge badge-rounded badge-danger">Unpaid</span></td>
												<td>09 April 2021</td>
												<td>$300</td>
												<td>#57864</td>
											</tr>
											<tr>
												<td><img src="images/profile/education/pic9.jpg" class="rounded-circle" width="35" alt=""></td>
												<td>Rhona Davidson</td>
												<td><span class="badge badge-rounded badge-warning">Pending</span></td>
												<td>08 March 2021</td>
												<td>$500</td>
												<td>#56387</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div id="profile-settings" class="tab-pane fade">
								<div class="table-responsive">
									<table class="table table-responsive-md text-nowrap">
										<thead>
											<tr>
												<th scope="col">S.No.</th>
												<th scope="col">Name</th>
												<th scope="col">Status</th>
												<th scope="col">Date</th>
												<th scope="col">Amount</th>
												<th scope="col">Transaction ID</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td><img src="images/profile/education/pic5.jpg" class="rounded-circle" width="35" alt=""></td>
												<td>Angelica Ramos</td>
												<td><span class="badge badge-rounded badge-success">Paid</span></td>
												<td>12 August 2021</td>
												<td>$100</td>
												<td>#42317</td>
											</tr>
											<tr>
												<td><img src="images/profile/education/pic8.jpg" class="rounded-circle" width="35" alt=""></td>
												<td>Bradley Greer</td>
												<td><span class="badge badge-rounded badge-danger">Unpaid</span></td>
												<td>11 July 2021</td>
												<td>$200</td>
												<td>#54682</td>
											</tr>
											<tr>
												<td><img src="images/profile/education/pic6.jpg" class="rounded-circle" width="35" alt=""></td>
												<td>Cedric Kelly</td>
												<td><span class="badge badge-rounded badge-warning">Pending</span></td>
												<td>10 May 2021</td>
												<td>$400</td>
												<td>#57894</td>
											</tr>
											<tr>
												<td><img src="images/profile/education/pic2.jpg" class="rounded-circle" width="35" alt=""></td>
												<td>Caesar Vance</td>
												<td><span class="badge badge-rounded badge-danger">Unpaid</span></td>
												<td>09 April 2021</td>
												<td>$300</td>
												<td>#57864</td>
											</tr>
											<tr>
												<td><img src="images/profile/education/pic7.jpg" class="rounded-circle" width="35" alt=""></td>
												<td>Rhona Davidson</td>
												<td><span class="badge badge-rounded badge-warning">Pending</span></td>
												<td>08 March 2021</td>
												<td>$500</td>
												<td>#56387</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

 *@
		</div>
	</div>
 </div>