@{
	Layout = "_AdminLayout";
}
@model IEnumerable<Student>;
<!--**********************************
		  Content body start
	  ***********************************-->
<div class="content-body">
	@if (ViewBag.message != null)
	{

		<div class="alert alert-success solid alert-right-icon alert-dismissible fade show">
			<span><i class="mdi mdi-check"></i></span>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close">
			</button> @ViewBag.message
		</div>
	}
	@if (ViewBag.error != null)
	{
		<div class="alert alert-danger solid alert-right-icon alert-dismissible fade show">
			<span><i class="mdi mdi-alert"></i></span>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close">
			</button>
			<strong>@ViewBag.error</strong>
		</div>
	}

	<!-- row -->
	<div class="container-fluid">

		<div class="row page-titles mx-0">
			<div class="col-sm-6 p-md-0">
				<div class="welcome-text">
					<h4>All Students</h4>
				</div>
			</div>
			<div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
				<ol class="breadcrumb">

					<li class="breadcrumb-item"><a href="javascript:void(0);">Students</a></li>
					<li class="breadcrumb-item active"><a href="javascript:void(0);">All Students</a></li>
				</ol>
			</div>
		</div>

		<div class="row">
		
			<div class="col-lg-12">
				<div class="row">
					<div class="show col-lg-12">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">All Students</h4>
								
							</div>
							<div class="card-body">
								@if (Model.Any())
								{
									<div class="table-responsive">
										<table id="example3" class="display text-nowrap table" style="min-width: 845px">
											<thead>
												<tr>
													<th>Profile</th>
													<th>Name</th>
													<th>Email</th>
													<th>Courses</th>
													@* <th>Action</th> *@
												</tr>
											</thead>
											<tbody>
												@foreach (var temp in Model)
												{


													<tr>
														<td><img class="rounded-circle" width="35" src="~/@temp.StdImg" alt=""></td>
														<td><a asp-controller="Admin" asp-action="StudentDetail" asp-route-id="@temp.StudentId">@temp.StudentName</a></td>
														<td><a asp-controller="Admin" asp-action="StudentDetail" asp-route-id="@temp.StudentId">@temp.StudentEmail</a></td>
														<td>
															<a asp-controller="Admin" asp-action="StudentDetail" asp-route-id="@temp.StudentId">
																@if (temp.StudentCourseRegistrations.Count == 0)
																{
																	<text>Not Enrolled</text>
																}
																else
																{
																	@foreach (var coursess in temp.StudentCourseRegistrations)
																	{
																		@coursess.AddmissionForNavigation.CourseName


																		@if (!coursess.Equals(temp.StudentCourseRegistrations.Last()))
																		{
																			<text>, </text>
																		}
																	}
																}
															</a>
														</td>

														@* <td>
															<a asp-controller="Admin" asp-action="UpdateStudent" asp-route-id="@temp.StudentId" class="btn btn-xs sharp btn-primary"><i class="fa fa-pencil"></i></a>
															<a asp-controller="Admin" asp-action="DeleteStudent" asp-route-id="@temp.StudentId" class="btn btn-xs sharp btn-danger"><i class="fa fa-trash"></i></a>
														</td> *@
													</tr>
												}

											</tbody>
										</table>
									</div>
								}
								else
								{
								// Model is empty or null
									<h2>No Students Found</h2>
								}
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>

	</div>
</div>



<!--**********************************
	Content body end
***********************************-->
