@{
	Layout = "_FacultyLayout";
}
@model ITM_College.Models.Assignment;


<!--**********************************
		  Content body start
	  ***********************************-->
<div class="content-body">
	<!-- row -->
	<div class="container-fluid">

		<div class="row page-titles mx-0">
			<div class="col-sm-6 p-md-0">
				<div class="welcome-text">
					<h4>Assignments</h4>
				</div>
			</div>
			<div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
				<ol class="breadcrumb">

					<li class="breadcrumb-item"><a href="javascript:void(0);">Assignment</a></li>
					<li class="breadcrumb-item active"><a href="javascript:void(0);">Assignment Detail</a></li>
				</ol>
			</div>
		</div>

		<div class="row">


			<div class="container text-start">
				<div class="row">

					<div class="col col-xl-9 col-lg-10 col-md-10 col-sm-12 col-12">
		
							<div class="card overflow-hidden assign-card">
							<h4 class="card-title p-3">@Model.Title</h4>
								<div class="row g-0 w-lg-50">
							
									<div class="col-md-8 col-8">
										<div class="card-body p-0">
										<p class="card-text ps-4 ">@Model.Faculty.FacultyName | <small class="text-body-secondary">@Model.UploadDate</small></p>
										<p class="card-text ps-4 ">Total Marks: @Model.TotalMarks</p>
			
										</div>
									</div>
								</div>
								<hr />
								<div class="card-body">
								<p class="card-text">@Model.Description</p>
								@if(Model.Media != null)
								{
							
                                string mediaName = Model.Media.Replace("admincss/assignment\\", "");
									<a href="~/@Model.Media" class="learn-more">
										<span class="circle" aria-hidden="true">
											<span class="icon arrow"></span>
										</span>
										<span class="button-text">Learn More</span>
									</a>
									<a href="~/@Model.Media"></a>
								}
							</div>
							</div>
						
					</div>
					
				</div>
			</div>

		</div>
	</div>



	<!--**********************************
		Content body end
	***********************************-->
