@{
	Layout = "_FacultyLayout";
}
@model ITM_College.Models.FacultyIndexModel;
<!--**********************************
		   Content body start
***********************************-->
<div class="content-body">
	<div class="container-fluid">
		<div class="row page-titles mx-0">
			<div class="col-sm-6 p-md-0">
				<div class="welcome-text">
					<h4>Hi, welcome back!</h4>
					<p class="mb-0">Your Faculty dashboard</p>
				</div>
			</div>
			
		</div>
		<!-- row -->
		<div class="row">
			<div class="col-lg-12">
				<div class="profile card card-body px-3 pt-3 pb-0">
					<div class="profile-head">
						<div class="photo-content">
							<div class="cover-photo rounded"></div>
						</div>
						<div class="profile-info">
							<div class="profile-photo">
								<img src="~/@Model.faculty.FacultyImg" class="img-fluid rounded-circle" alt="">
							</div>
							<div class="profile-details">
								<div class="profile-name px-3 pt-2">
									<h4 class="text-primary mb-0">@Model.faculty.FacultyName</h4>
									<p>@Model.faculty.FacultyDepartmentNavigation.DepartmentName</p>
								</div>
								<div class="profile-email px-2 pt-2">
									<h4 class="text-muted mb-0">@Model.faculty.FacultyEmail</h4>
									<p>Email</p>
								</div>


							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-4">
				<div class="row">
					<div class="col-xl-12">
						<div class="card">
							<div class="card-body">
								<div class="profile-statistics">
									<div class="text-center">
										<div class="row">
											<div class="col">
												<h3 class="m-b-0">@Model.CoursesCount</h3><span>Courses</span>
											</div>
											<div class="col">
												<h3 class="m-b-0">@Model.students.Count</h3><span>Students</span>
											</div>

										</div>
									</div>

								</div>
							</div>
						</div>
					</div>


					<div class="col-xl-12">
						<div class="card">
							<div class="card-body">
								<div class="profile-news">
									<h4 class="text-primary card-title d-inline">My Courses</h4>
									@if(Model.courses.Any()){
									@foreach (var temp in Model.courses)
									{
									<div class="media pt-3 pb-3">
										<img src="~/@temp.CourseImg" alt="image" class="me-3 rounded" width="75">
										<div class="media-body">
											<h5><a href="PostDetails.html" class="text-dark">@temp.CourseName</a></h5>
											<p class="mb-0 line-para-height fs-15">@temp.CourseDesc</p>
										</div>
									</div>
										}
									}
									else
									{
										<h3>No Courses</h3>
									}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-8">
				<div class="card h-auto">
					<div class="card-body">
						<div class="profile-tab">
							<div class="custom-tab-1">
								<ul class="nav nav-tabs">
									<li class="nav-item">
										<a href="#my-posts" data-bs-toggle="tab" class="nav-link active show">Students</a>
									</li>
									<li class="nav-item">
										<a href="#about-me" data-bs-toggle="tab" class="nav-link">About Me</a>
									</li>
								
								</ul>
								<div class="tab-content">
									<div id="my-posts" class="tab-pane fade active show">
										
										@if (Model.students.Any())
										{
											<div class="table-responsive">
												<table id="example3" class="display text-nowrap table">
													<thead>
														<tr>
															<th>Profile</th>
															<th>Name</th>
															<th>Email</th>
															<th>Courses</th>
														</tr>
													</thead>
													<tbody>
														@foreach (var temp in Model.students)
														{


															<tr>
																<td><img class="rounded-circle" width="35" src="~/" alt=""></td>
																<td>@temp.Student.StudentName</td>
																<td>@temp.Student.StudentEmail</td>
																<td>
																	
																		@if (temp.Student.StudentCourseRegistrations.Count == 0)
																		{
																			<text>Not Enrolled</text>
																		}
																		else
																		{
																		@foreach (var coursess in temp.Student.StudentCourseRegistrations)
																			{
																				@coursess.AddmissionForNavigation.CourseName


																			@if (!coursess.Equals(temp.Student.StudentCourseRegistrations.Last()))
																				{
																					<text>, </text>
																				}
																			}
																		}
																	
																</td>
															</tr>
														}

													</tbody>
												</table>
											</div>
										}
										else
										{
				// Model is empty or null
											<h2>No Students Found</h2>
										}

									</div>
									<div id="about-me" class="tab-pane fade">



										<div class="profile-personal-info mt-2">
											<h4 class="text-primary mb-4">Personal Information</h4>
											<div class="row mb-2">
												<div class="col-sm-3 col-5">
													<h5 class="f-w-500">
														Name <span class="pull-end">:</span>
													</h5>
												</div>
												<div class="col-sm-9 col-7">
													<span>@Model.faculty.FacultyName</span>
												</div>
											</div>
											<div class="row mb-2">
												<div class="col-sm-3 col-5">
													<h5 class="f-w-500">
														Email <span class="pull-end">:</span>
													</h5>
												</div>
												<div class="col-sm-9 col-7">
													<span>@Model.faculty.FacultyEmail</span>
												</div>
											</div>
											<div class="row mb-2">
												<div class="col-sm-3 col-5">
													<h5 class="f-w-500">Department <span class="pull-end">:</span></h5>
												</div>
												<div class="col-sm-9 col-7">
													<span>@Model.faculty.FacultyDepartmentNavigation.DepartmentName</span>
												</div>
											</div>


											<div class="row mb-2">
												<div class="col-sm-3 col-5">
													<h5 class="f-w-500">Gender <span class="pull-end">:</span></h5>
												</div>
												<div class="col-sm-9 col-7">
													@if (Model.faculty.Gender == 1)
														{
														<span>Male</span>
														}
														else
														{
														<span>Female</span>
														}
													
												</div>
											</div>
										</div>
									</div>




								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<!--**********************************
	Content body end
***********************************-->
